# Production Environment - Worker Configuration Overrides

[worker]
worker_id = "prod-worker-001"

[worker.step_processing]
max_concurrent_steps = 100

[worker.mpsc_channels.command_processor]
command_buffer_size = 5000

[worker.mpsc_channels.event_systems]
event_channel_buffer_size = 5000

[worker.mpsc_channels.in_process_events]
broadcast_buffer_size = 5000
